input[type="text"],
select,
textarea {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="number"],
select,
textarea {
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

html {
  height: 100%;
  width: 100%;
}

body {
  padding: 70px;
  font-family: Product Sans, sans-serif;
  background: url(bg.png) no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
h3 {
  padding-bottom: 10px;
  text-align: center;
}

button,
input,
optgroup,
select,
textarea {
  color: Grey;
}

#submitbtn {
  border: none;
  outline: none;
  height: 40px;
  background: rgb(0, 196, 164);
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  width: 250px;
}
